LIfe Expectancy Flow.json
[{"id":"e71c4e5e.a19b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ced2fe00.7dac4","type":"ui_form","z":"e71c4e5e.a19b","name":"","label":"","group":"f3cc3660.b6c878","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"c","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"s","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"id","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"m","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"ufd","type":"number","required":true,"rows":null},{"label":"Polio","value":"p","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"d","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pp","type":"number","required":true,"rows":null},{"label":" Thinness  1-19 years","value":"t119","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"t59","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"ic","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null}],"formValue":{"c":"","ye":"","s":"","am":"","id":"","al":"","pe":"","hb":"","m":"","bmi":"","ufd":"","p":"","te":"","d":"","hiv":"","gdp":"","pp":"","t119":"","t59":"","ic":"","sc":""},"payload":"","submit":"submit","cancel":"clear","topic":"","x":190,"y":200,"wires":[["501a03ed.0d5adc"]]},{"id":"501a03ed.0d5adc","type":"function","z":"e71c4e5e.a19b","name":"PreToken","func":"//make user given values as global variables\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"ye\",msg.payload.ye);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"am\",msg.payload.am);\nglobal.set(\"id\",msg.payload.id);\nglobal.set(\"al\",msg.payload.al);\nglobal.set(\"pe\",msg.payload.pe);\nglobal.set(\"hb\",msg.payload.hb);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"ufd\",msg.payload.ufd);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"te\",msg.payload.te);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"pp\",msg.payload.pp);\nglobal.set(\"t119\",msg.payload.t119);\nglobal.set(\"t59\",msg.payload.t59);\nglobal.set(\"ic\",msg.payload.ic);\nglobal.set(\"sc\",msg.payload.sc);\n\n//following are required to receive a token\nvar apikey=\"5Y9CQbEmj_Cpy9-1F0p8U_MjW_cKCfXgLEzQXl_vrmGo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["8e262d37.95bf8"]]},{"id":"98bb9ba4.f51108","type":"function","z":"e71c4e5e.a19b","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"50a67c69-ad3a-44f8-91ce-42484702eec6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar c = global.get(\"c\");\nvar ye = global.get(\"ye\");\nvar s = global.get(\"s\");\nvar am = global.get(\"am\");\nvar id = global.get(\"id\");\nvar al = global.get(\"al\");\nvar pe = global.get(\"pe\");\nvar hb = global.get(\"hb\");\nvar m = global.get(\"m\");\nvar bmi = global.get(\"bmi\");\nvar ufd = global.get(\"ufd\");\nvar p = global.get(\"p\");\nvar te = global.get(\"te\");\nvar d = global.get(\"d\");\nvar hiv = global.get(\"hiv\");\nvar gdp = global.get(\"gdp\");\nvar pp = global.get(\"pp\");\nvar t119 = global.get(\"t119\");\nvar t59 = global.get(\"t59\");\nvar ic = global.get(\"ic\");\nvar sc = global.get(\"sc\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[ \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\",\n \"Hepatitis B\", \"Measles\", \" BMI\",\"under-five deaths\", \"Polio\",\n \"Total expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\",\n \"thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\",\"Schooling\"],\n\"values\":[[am,id,al,pe,hb,m,bmi,ufd,p,te,d,hiv,gdp,pp,t119,t59,ic,sc]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["cf963b2.bc668c8"]]},{"id":"cf963b2.bc668c8","type":"http request","z":"e71c4e5e.a19b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/50a67c69-ad3a-44f8-91ce-42484702eec6/deployments/ccc26745-dedb-49cd-9689-a16f05fccb79/online","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":200,"wires":[["6b1d90e7.8bc25"]]},{"id":"6b1d90e7.8bc25","type":"function","z":"e71c4e5e.a19b","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0][0];\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["1232af2f.a08a61"]]},{"id":"1232af2f.a08a61","type":"ui_text","z":"e71c4e5e.a19b","group":"f3cc3660.b6c878","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy using MLR:","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":320,"wires":[]},{"id":"8e262d37.95bf8","type":"http request","z":"e71c4e5e.a19b","name":"PreToken","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":220,"wires":[["98bb9ba4.f51108","1e058d22.58aaa3"]]},{"id":"1e058d22.58aaa3","type":"function","z":"e71c4e5e.a19b","name":"sendTo Endpoint2","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"50a67c69-ad3a-44f8-91ce-42484702eec6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar c = global.get(\"c\");\nvar ye = global.get(\"ye\");\nvar s = global.get(\"s\");\nvar am = global.get(\"am\");\nvar id = global.get(\"id\");\nvar al = global.get(\"al\");\nvar pe = global.get(\"pe\");\nvar hb = global.get(\"hb\");\nvar m = global.get(\"m\");\nvar bmi = global.get(\"bmi\");\nvar ufd = global.get(\"ufd\");\nvar p = global.get(\"p\");\nvar te = global.get(\"te\");\nvar d = global.get(\"d\");\nvar hiv = global.get(\"hiv\");\nvar gdp = global.get(\"gdp\");\nvar pp = global.get(\"pp\");\nvar t119 = global.get(\"t119\");\nvar t59 = global.get(\"t59\");\nvar ic = global.get(\"ic\");\nvar sc = global.get(\"sc\");\n\n//send the user values to service endpoint\nmsg.payload =  {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[c,ye,s,am,id,al,pe,hb,m,bmi,ufd,p,te,d,hiv,gdp,pp,t119,t59,ic,sc]] }]}\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["5e4c23d4.b5241c"]]},{"id":"5e4c23d4.b5241c","type":"http request","z":"e71c4e5e.a19b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/2fe81356-778a-4704-aea8-38ddfea672ec/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":440,"wires":[["9b622e07.08d3b"]]},{"id":"9b622e07.08d3b","type":"function","z":"e71c4e5e.a19b","name":"getFrom Endpoint2","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":520,"wires":[["95303990.c79428"]]},{"id":"95303990.c79428","type":"ui_text","z":"e71c4e5e.a19b","group":"f3cc3660.b6c878","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy (IBM Auto AI):","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":520,"wires":[]},{"id":"f3cc3660.b6c878","type":"ui_group","z":"","name":"Life Expectancy","tab":"a06418d2.e02cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a06418d2.e02cd8","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]